@charset "UTF-8";

/* bleu clair : 3498db */
/* bleu foncé : 2C3E50 */


body, html {
    padding: 0;
    margin: 0;
}


a{
    text-decoration: none;
}
 
a:hover{
    color: #2C3E50;
}

.container-fluid{
    padding: 0;
}

.separator{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #3498db;
}

/* header */


.header{
    background-color: #3498db;
    height: 70px;
    line-height: 70px;
}

.logo{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu{
    float : right;
}

.menu a {
    color : #ffffff;
    margin-right: 20px;

}

.menu a:hover{
    color: #2C3E50;
}

/* bannière */

.banner{
    width: 100%;
    max-width: 100%;
}

.ban{
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img{

    width: 100%;
    max-width: 100%;

}

.inner-banner{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;

}

.inner-banner h1{
    
    color: #ffffff;
    text-shadow: 1px 1px 20px #000000;
}

.inner-banner .btn-custom{
    background-color: #3498db;
    color: #ffffff;
}

.inner-banner .btn-custom:hover{
    background-color: #2C3E50;
}

/* about */

.about{
    margin-top: 5%;
    text-align: center;
}

.about article{
    margin-top: 5%;
    margin-bottom: 10%;
}

.about article h2{
    text-align: center;
}


/* portfolio */

.portfolio{

    background-color: #eeeeee;
    height: 800px;
}

#portfolio{
    text-align: center;
}

.portfolio .item-folio{
    height: 130px;
    background-color: #ffffff;
}

.portfolio img{
    width: 50%;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.center{

}
